# Introduction Of Python.

### Aim

Get acquainted with Python and set up the development 
environment.

### Resources

Python Official Documentation:  
https://www.python.org/doc

Codecademy Python Course:  
https://www.codecademy.com/learn/learn-python-3

### What is Python?
Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

It is used for:

* web development (server-side)
* software development
* mathematics
* system scripting

### What can Python do?
* Python can be used on a server to create web applications.
* Python can be used alongside software to create workflows.
* Python can connect to database systems. It can also read and modify files.
* Python can be used to handle big data and perform complex mathematics.
* Python can be used for rapid prototyping, or for production-ready software development.

### Why Python?
* Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
* Python has a simple syntax similar to the English language.
* Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
* Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
* Python can be treated in a procedural way, an object-oriented way or a functional way.ing

### Python Syntax compared to other programming languages
* Python was designed for readability, and has some similarities to the English language with influence from mathematics.
* Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.
* Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

## Problem Question

In [4]:
#My First code
print ("Hello, World...!")

Hello, World...!

# Variables And Data Types

## Aim

Understand variables and different data types in Python.

## Resources

*  W3Schools Python Variables:  
https://www.w3schools.com/python/
python_variables.as#

* Real Python Data Types:  
https://realpython.com/python-data-types/

## Python Data Types
1. Numeric data types: int, float, complex.
2. String data types: str.
3. Sequence types: list, tuple, range.
4. Binary types: bytes, bytearray, memoryview.
5. Mapping data type: dict.
6. Boolean type: bool.
7. Set data types: set, frozenset.

Q 1: Calculate the sum of two numbers entered by the user.

In [5]:
# Get input from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Calculate the sum
sum_result = num1 + num2

# Display the result
print("The sum of", num1, "and", num2, "is:", sum_result)

Enter the first number:  12
Enter the second number:  20

The sum of 12.0 and 20.0 is: 32.0

Q 2: Convert temperature from Celsius to Fahrenheit.

In [6]:
# Get input from the user
celsius = float(input("Enter the temperature in Celsius: "))

# Convert Celsius to Fahrenheit
fahrenheit = (celsius * 9/5) + 32

# Display the result
print("Temperature in Fahrenheit:", fahrenheit)

Enter the temperature in Celsius:  21

Temperature in Fahrenheit: 69.8

### Keyworrd List

In [2]:
import keyword
print (keyword.kwlist)
len (keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35

### Practice Question For Python

1. Write a Python program to calculate the area of a 
rectangle given its length and width

In [3]:
# Get input from the user
length = float(input("Enter the length of the rectangle: "))
width = float(input("Enter the width of the rectangle: "))

# Calculate the area
area = length * width

# Display the result
print("The area of the rectangle is:", area)

Enter the length of the rectangle:  5
Enter the width of the rectangle:  10

The area of the rectangle is: 50.0

2. Create a program that takes a user's name and age as 
input and prints a greeting message

In [4]:
# Get input from the user
name = input("Enter your name: ")
age = int(input("Enter your age: "))

# Greeting message
greeting = f"Hello, {name}! You are {age} years old."

# Display the greeting
print(greeting)

Enter your name:  Suraj
Enter your age:  21

Hello, Suraj! You are 21 years old.

## Example Question

1: Create variables for storing a person's name, age, and  
 average test score.

In [7]:
# Create variables
person_name = "Suraj"
person_age = 21
average_test_score = 85.5

# Display the variables
print("Person's Name:", person_name)
print("Person's Age:", person_age)
print("Average Test Score:", average_test_score)

Person's Name: Suraj
Person's Age: 21
Average Test Score: 85.5

2: Concatenate two strings and print the result.

In [8]:
# Two strings
string1 = "Hello, "
string2 = "world!"

# Concatenate strings
result = string1 + string2

# Display the result
print(result)

Hello, world!

 3: Create a list of fruits and access elements using  
 indexing.

In [9]:
# Create a list of fruits
fruits = ["apple", "banana", "orange", "grape", "kiwi"]

# Access elements using indexing
first_fruit = fruits[0]
second_fruit = fruits[1]
third_fruit = fruits[2]

# Display the accessed elements
print("First Fruit:", first_fruit)
print("Second Fruit:", second_fruit)
print("Third Fruit:", third_fruit)

First Fruit: apple
Second Fruit: banana
Third Fruit: orange

## Identifying class/type of variable

* When you run this script, it will print the type/class of each variable. The type() function returns the class/type of the variable, allowing you to identify whether it's an integer, float, string, list, dictionary, or another type of object.
* Understanding the type of variables can be useful for debugging and ensuring that you're working with the correct data types in your program.

In [11]:
# Example variables
integer_var = 42
float_var = 3.14
string_var = "Hello, Python!"
list_var = [1, 2, 3]
dict_var = {"key": "value"}

# Using type() to identify the class/type
print("Type of integer_var:", type(integer_var))
print("Type of float_var:", type(float_var))
print("Type of string_var:", type(string_var))
print("Type of list_var:", type(list_var))
print("Type of dict_var:", type(dict_var))

Type of integer_var: <class 'int'>
Type of float_var: <class 'float'>
Type of string_var: <class 'str'>
Type of list_var: <class 'list'>
Type of dict_var: <class 'dict'>

## String-float-integer

1 : String
* Defination: A string is a sequence of characters enclosed in single (' ') or double (" ") quotes.
* Example: "Hello, World!", 'Python is fun'
* Usage: Strings are used to represent text and are versatile for storing and manipulating textual data.

2 : Float
* Definition: A float (floating-point number) is a numeric type with decimal points or exponential notation.
* Example: '3.14', '2.0', '-0.005'
* Usage: Floats are used to represent real numbers, especially when precision is required. They can handle both integer and fractional parts.

3 : Integer
* Definition: An integer is a whole number without any decimal points or fractional parts.
* Example: '42','-17', '0'
* Usage: Integers are used to represent whole numbers in arithmetic operations and situations where decimal precision is not needed.

In [19]:
# Examples of operations and conversions
string_example = "20"
integer_example = int(string_example)  # Convert string to integer
float_example = float(integer_example)  # Convert integer to float

result = float_example + 3.14  # Perform arithmetic operation

print("String to Integer:", integer_example)
print("Integer to Float:", float_example)
print("Result of Float + Float:", result)

String to Integer: 20
Integer to Float: 20.0
Result of Float + Float: 23.14

## String/integer to float conversion:

* In Python, you can convert a string or an integer to a float using the float() function.

In [13]:
# String to Float conversion
string_number = "3.14"
float_number = float(string_number)

# Display the result
print("Original String:", string_number)
print("Converted Float:", float_number)

Original String: 3.14
Converted Float: 3.14

In [14]:
# Integer to Float conversion
integer_number = 42
float_number = float(integer_number)

# Display the result
print("Original Integer:", integer_number)
print("Converted Float:", float_number)

Original Integer: 42
Converted Float: 42.0

* In both cases, the float() function is used to convert the variable to a floating-point number. This is useful when you need to perform arithmetic operations that involve floating-point numbers.

## Float/string to integer conversion

* In Python, you can convert a float or string to an integer using the int() function.

In [16]:
#Float to Integer Conversion:
# Float variable
float_number = 3.14

# Convert float to integer
integer_result = int(float_number)

# Display the result
print("Float to Integer Conversion:", integer_result)

Float to Integer Conversion: 3

In [18]:
#String to Integer Conversion:
# String variable
string_number = "20"

# Convert string to integer
integer_result = int(string_number)

# Display the result
print("String to Integer Conversion:", integer_result)

String to Integer Conversion: 20

* It's important to note that when converting a string to an integer, the string should represent a valid integer. If the string contains non-numeric characters, attempting the conversion may result in a 'ValueError'.

## Complex function

* A complex function is a function that takes a complex number as an input and produces a complex number as an output. These functions can be expressed in terms of variables like "z = x + yi," where x and y are real numbers, and i is the imaginary unit (i.e., the square root of -1).

In [3]:
# Creating complex numbers
z1 = 3 + 4j
z2 = complex(5, -2)

# Addition
result_addition = z1 + z2
print("Addition:", result_addition)

# Subtraction
result_subtraction = z1 - z2
print("Subtraction:", result_subtraction)

# Multiplication
result_multiplication = z1 * z2
print("Multiplication:", result_multiplication)

# Division
result_division = z1 / z2
print("Division:", result_division)

# Real and imaginary parts
real_part = z1.real
imaginary_part = z1.imag
print("Real part:", real_part)
print("Imaginary part:", imaginary_part)

Addition: (8+2j)
Subtraction: (-2+6j)
Multiplication: (23+14j)
Division: (0.24137931034482757+0.896551724137931j)
Real part: 3.0
Imaginary part: 4.0

## Bool function

* It seems like you might be referring to the bool() function in Python. The bool() function is used to convert a value to a Boolean (True or False) representation. It can take various types of input and returns True for truthy values and False for falsy values.

In [5]:
# Using bool() function
value1 = 12
bool_value1 = bool(value1)
print(f"bool({value1}) =", bool_value1)

value2 = 0
bool_value2 = bool(value2)
print(f"bool({value2}) =", bool_value2)

value3 = "Hello"
bool_value3 = bool(value3)
print(f"bool('{value3}') =", bool_value3)

bool(12) = True
bool(0) = False
bool('Hello') = True

_ In this example, 'bool_value1' will be 'True' because non-zero integers are truthy. 'bool_value2' will be 'False' as '0' is falsy, and ''bool_value3' will be 'True' because non-empty strings are truthy.

## String slicing

* String slicing is a powerful feature in Python that allows you to extract a portion of a string. It's done using the square bracket notation '[start:stop]'.
* Here are some key points:
  1.Basic Syntax:'string[start:stop]': Extracts characters from index 'start' to 'stop-1'.

  2.Indexing:
  * Indexing starts at 0 for the first character.
  * Negative indices can be used to count from the end, with -1 being the last character.

  3.Omitted Indices:
  * If 'start' is omitted, it defaults to the beginning of the string.
  * If 'stop' is omitted, it defaults to the end of the string.
  
  4.Step/Stride:
  * You can include a third parameter, the step/stride ('[start:stop:step]'), to skip characters.
  * A negative step moves backward through the string.

In [6]:
#Example
my_string = "Hello, World!"

# Basic slicing
print(my_string[7:12])  # Outputs "World"

# Omitted indices
print(my_string[:5])    # Outputs "Hello"
print(my_string[7:])    # Outputs "World!"

# Step/Stride
print(my_string[::2])   # Outputs "Hlo ol!"
print(my_string[::-1])  # Outputs "!dlroW ,olleH"

World
Hello
World!
Hlo ol!
!dlroW ,olleH

* String slicing is versatile and handy for tasks like extracting substrings, reversing strings, or obtaining specific patterns from a larger text.

## Immutability

* immutability refers to the property of an object that cannot be modified once it is created. In other words, the state of an immutable object cannot be changed after its initialization.

1. Immutable Objects:  Examples of immutable objects in Python include tuples, strings, and frozensets. Once these objects are created, you cannot modify their content.
2. Advantages:
* Simplifies Code: Immutable objects simplify the code because you don't have to worry about unintended changes to the data.
* Thread Safety: Immutable objects are inherently thread-safe, as there is no risk of concurrent modification.
3. Mutability vs. Immutability:
* Mutable objects, like lists and dictionaries, allow changes to their content after creation.
* Immutable objects, like tuples and strings, do not allow changes once created.

In [7]:
# Immutable string
my_string = "Hello"

# Attempting to modify will create a new string
new_string = my_string + ", World!"

print(my_string)  # Output: Hello
print(new_string)  # Output: Hello, World!

Hello
Hello, World!

## List
There are 11 functions in list as follows:-
1. append
2. clear
3. copy
4. count
5. extend
6. index
7. insert
8. pop
9. remove
10. reverse
11. sort

* In Python, a list is a versatile and mutable data type used to store a collection of elements.

1. Definition: A list is defined by enclosing elements within square brackets []. Elements in a list can be of different data types, and a list can even contain other lists.

In [15]:
a = [1,2,3,4,5,6,7,8]
print(a)
print(type(a),"\n")

b = [1.2,2.3,3.4,4.5,5.6,6.7,7.8,8.9]
print(b)
print(type(b),"\n")

c = ["apple","mango","banana","orange"]
print(c)
print(type(c),"\n")

d = [1,2,1.2,2.3,"apple","mango"]
print(d)
print(type(d))

[1, 2, 3, 4, 5, 6, 7, 8]
<class 'list'>

[1.2, 2.3, 3.4, 4.5, 5.6, 6.7, 7.8, 8.9]
<class 'list'>

['apple', 'mango', 'banana', 'orange']
<class 'list'>

[1, 2, 1.2, 2.3, 'apple', 'mango']
<class 'list'>

In [16]:
a = [1,2,3,4,5,6,7,8,9,10]

print(a,'\n')

print(a[1])

a[-10:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
a = [1,2,3,4,5,6,7,8,9,10]
print(type(a))

print(a[4])

<class 'list'>
5

In [18]:
#Append function
a = [1,2,3,4,5,6,7,8,9,10]

a.append(11)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [19]:
#Remove function
a = [1,2,3,4,5,6,7,8,9,10,11]
print(a)
a.remove(11)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
#Copy function
a = [1,2,3,4,5,6,7,8,9,10,11]
a.copy()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [21]:
#Extend function
print(a)
a.extend(a)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [22]:
#Index function
a = [1,2,3,4,5,6,7,8,9,10]
print(a)
print(a.index(9))
print(a[9])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
8
10

In [23]:
#Insert function
a = [1,2,3,4,5,6,7,8,9,10]
print(a)
a.insert(9,123)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 123, 10]

In [24]:
#Pop function
# it removes the given position element in your list & if not given it removes the last element
a = [1,2,3,4,5,6,7,8,9,10]

print(a)
a.pop(0)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
#Reverse function
a = [1,2,3,4,5,6,7,8,9,10]
print(a)
a.reverse()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [26]:
#Sort function
a = [9,5,4,3,2,6,7,8,1]
print(a)
#a.sort(reverse=True)
a.sort(reverse = False)
print(a)

[9, 5, 4, 3, 2, 6, 7, 8, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
#count function
a = [1,2,3,4,5,6,7,8,8,8,8,9]
a.count(8)

4

## Tuple

1. Tuple is immutable
2. To operate on tuple firstly you have to convert it into list

* A tuple in Python is an ordered, immutable collection of elements. This means that once you create a tuple, you cannot modify its elements - you can't add, remove, or change them. Tuples are defined using parentheses '()' and can contain elements of different data types.

In [28]:
#List to tuple
a = [1,2,3,4,5,6,7,8,9]
print(a)
print(type(a))

b = tuple(a)
print(b)
print(type(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>
(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

In [29]:
#Tuple to list
a = (1,2,3,4,5,6,7,8,9)
print(a)
print(type(a))

b = list(a)
print(b)
print(type(b))

(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>
[1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

In [30]:
# .append in tuple
# since tuple is immutable you can't change the value inside 
# to change the value you have to convert tuple into list and then make changes in it according to you 

a = ("apple","banana","mango","orange")
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n")

b.append("grapes")
print(b,"\n")

c = tuple(b)
print(c)
print(type(c))

('apple', 'banana', 'mango', 'orange')
<class 'tuple'>

['apple', 'banana', 'mango', 'orange']
<class 'list'>

['apple', 'banana', 'mango', 'orange', 'grapes']

('apple', 'banana', 'mango', 'orange', 'grapes')
<class 'tuple'>

In [31]:
# .clear in tuple
# it clears all the elements in list
a = (10,20,30,40,50,60,70,80,90)
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n")

b.clear()
print(b)

(10, 20, 30, 40, 50, 60, 70, 80, 90)
<class 'tuple'>

[10, 20, 30, 40, 50, 60, 70, 80, 90]
<class 'list'>

[]

In [32]:
# .copy in tuple
# it creates a copy of your elements
a = (10,20,30,40,50,60,70,80,90)
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n")

b.copy()
print(b)

(10, 20, 30, 40, 50, 60, 70, 80, 90)
<class 'tuple'>

[10, 20, 30, 40, 50, 60, 70, 80, 90]
<class 'list'>

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [33]:
# .count in tuple
# it counts the one or duplicate elements in your list
a = (10,20,30,40,50,60,70,80,80,80,80,90)
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n")

b.count(80)

(10, 20, 30, 40, 50, 60, 70, 80, 80, 80, 80, 90)
<class 'tuple'>

[10, 20, 30, 40, 50, 60, 70, 80, 80, 80, 80, 90]
<class 'list'>

4

In [34]:
# .extend in tuple
# you can combine your two lists using .extend
a = (10,20,30,40,50,60,70,80,90)
print(a)
print(type(a),"\n")

c = [100,110,120,130,140,150]

b = list(a)
print(b)
print(type(b),"\n")

b.extend(c)
print(b)

(10, 20, 30, 40, 50, 60, 70, 80, 90)
<class 'tuple'>

[10, 20, 30, 40, 50, 60, 70, 80, 90]
<class 'list'>

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150]

In [35]:
# .index in tuple
# it gives the index of given value
a = (10,20,30,40,50,60,70,80,90)
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n") 

b.index(50)

(10, 20, 30, 40, 50, 60, 70, 80, 90)
<class 'tuple'>

[10, 20, 30, 40, 50, 60, 70, 80, 90]
<class 'list'>

4

In [36]:
# .insert in tuple
# with this you can insert any value or element at any specified loction in list
a = (10,20,30,40,50,60,70,80,90)
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n")

b.insert(9,"hi")
print(b)

b.insert(10,100)
print(b)

(10, 20, 30, 40, 50, 60, 70, 80, 90)
<class 'tuple'>

[10, 20, 30, 40, 50, 60, 70, 80, 90]
<class 'list'>

[10, 20, 30, 40, 50, 60, 70, 80, 90, 'hi']
[10, 20, 30, 40, 50, 60, 70, 80, 90, 'hi', 100]

In [37]:
# .pop in tuple
# it removes the given position element in your list & if not given it removes the last element
a = (10,20,30,40,50,60,70,80,90)
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n")

b.pop()
print(b)

(10, 20, 30, 40, 50, 60, 70, 80, 90)
<class 'tuple'>

[10, 20, 30, 40, 50, 60, 70, 80, 90]
<class 'list'>

[10, 20, 30, 40, 50, 60, 70, 80]

In [40]:
# .remove in tuple
# with this you can remove any element in your list
a = (10,20,30,40,50,60,70,80,90)
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n")

b.remove(80)
print(b)

(10, 20, 30, 40, 50, 60, 70, 80, 90)
<class 'tuple'>

[10, 20, 30, 40, 50, 60, 70, 80, 90]
<class 'list'>

[10, 20, 30, 40, 50, 60, 70, 90]

In [39]:
# .reverse in tuple
# it reverse your list
a = (10,20,30,40,50,60,70,80,90)
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n")

b.reverse()
print(b)

(10, 20, 30, 40, 50, 60, 70, 80, 90)
<class 'tuple'>

[10, 20, 30, 40, 50, 60, 70, 80, 90]
<class 'list'>

[90, 80, 70, 60, 50, 40, 30, 20, 10]

In [41]:
# .sort in tuple
# it sorts your list in asscending order
a = (20,40,60,80,10,30,50,70,90)
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n")

b.sort()
print(b,"\n")

# optional
# .reverse=True will sort the list descending
# .reverse=False will sort the list asscending
a = (20,40,60,80,10,30,50,70,90)
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n")

b.sort(reverse=True)
print(b,"\n")


b.sort(reverse=False)
print(b,"\n")

(20, 40, 60, 80, 10, 30, 50, 70, 90)
<class 'tuple'>

[20, 40, 60, 80, 10, 30, 50, 70, 90]
<class 'list'>

[10, 20, 30, 40, 50, 60, 70, 80, 90]

(20, 40, 60, 80, 10, 30, 50, 70, 90)
<class 'tuple'>

[20, 40, 60, 80, 10, 30, 50, 70, 90]
<class 'list'>

[90, 80, 70, 60, 50, 40, 30, 20, 10]

[10, 20, 30, 40, 50, 60, 70, 80, 90]

## Set
* Set is un-ordered collection of elements
* It is mutale and growable
* it is unchangable
* { } represents a set
* Since it is un-ordered, index application is not applicable
* Duplicates are not allowed
 
 There are 18 methods in set function as follow:-
1.  add  
2.  clear
3.  copy
4.  difference
5.  difference_update
6.  discard
7.  intersection
8.  intersection_update
9.  isdisjoint
10. issubset
11. issuperset
12. mro
13. pop
14. remove
15. symmetric_difference
16. symmetric_difference_update
17. union
18. update

In [1]:
# .add in set
# with this we can add any element at any random position in set
a = {1,2,3,4,5,6,"apple",'banana','mango','orange',1.2,2.3,3.4}
print(a,"\n")

a.add("root")
print(a)

{1, 2, 3, 4, 5, 6, 'apple', 1.2, 'banana', 2.3, 3.4, 'mango', 'orange'}

{1, 2, 3, 4, 5, 6, 'apple', 1.2, 'banana', 2.3, 3.4, 'root', 'mango', 'orange'}

In [2]:
# .clear in set
# it clears your entire set 
a = {1,2,3,4,5,6,"apple",'banana','mango','orange',1.2,2.3,3.4}
print(a,"\n")

a.clear()
print(a)

{1, 2, 3, 4, 5, 6, 'apple', 1.2, 'banana', 2.3, 3.4, 'mango', 'orange'}

set()

In [3]:
# .copy in set
# it copies your entire set
a = {1,2,3,4,5,6,"apple",'banana','mango','orange',1.2,2.3,3.4}
print(a,"\n")

a.copy()

{1, 2, 3, 4, 5, 6, 'apple', 1.2, 'banana', 2.3, 3.4, 'mango', 'orange'}

{1, 1.2, 2, 2.3, 3, 3.4, 4, 5, 6, 'apple', 'banana', 'mango', 'orange'}

In [4]:
# .remove in set
# it removes a given element in set
# if given element is not there it will raise an error
a = {1,2,3,4,5,6,"apple",'banana','mango','orange',1.2,2.3,3.4}

a.remove('banana')
print(a)

{1, 2, 3, 4, 5, 6, 'apple', 1.2, 2.3, 3.4, 'mango', 'orange'}

In [5]:
# .discard in set
# it too removes the given element in set
# but it will not raise an error if given element is not there in set
a = {1,2,3,4,5,6,"apple",'banana','mango','orange',1.2,2.3,3.4}

a.discard("orange")
print(a)

{1, 2, 3, 4, 5, 6, 'apple', 1.2, 'banana', 2.3, 3.4, 'mango'}

In [6]:
# .pop in set
# it will remove any random element in set
a = {199,762,87,4,5,6,"apple",'banana','mango','orange',12,2.3,3.4}

b = a.pop()
print(a)
print(b)

{3.4, 4, 5, 6, 199, 'apple', 'banana', 12, 87, 'mango', 762, 'orange'}
2.3

In [7]:
# .union in set
# return a set containing the union of sets
a = {1,2,3,4,5,6}
b = {5,6,7,8,9,10}
print(a)
print(b)

x = a.union(b)
print(x)

{1, 2, 3, 4, 5, 6}
{5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [8]:
# .update in set
a = {10,20,30,40,50}
b = {100,200,300,400,500}
c = {'apple','banana','mango','orange','papaya'}
a.update(b)
print(a,"\n")

a.update(c)
print(a)

{100, 40, 200, 10, 300, 400, 50, 20, 500, 30}

{100, 'apple', 40, 200, 10, 'banana', 300, 'papaya', 400, 50, 20, 500, 'mango', 'orange', 30}

In [9]:
# .intersection
# it returns a set of common elements in all the sets given
a = {100,200,515,645}
b = {234,100,234,454,200}
c = {100,2,3,4,5,200,345,5,654,456}

a.intersection(b,c)

{100, 200}

In [10]:
# .intersection_update
# it removes the elements that are not present in other sets
a = {'apple','banana','mango'}
b = {'cherry','orange','apple'}
c = {'papaya','apple','grapes'}

a.intersection_update(b,c)
print(a)

{'apple'}

In [11]:
# .isdisjoint
# it checks if two sets have any elements in common
set1 = {1, 2, 3}
set2 = {4, 5, 6}
set3 = {3, 4, 5}

print(set1.isdisjoint(set2))
print(set1.isdisjoint(set3))

True
False

In [12]:
# .issubset
# it checks if one set is a subset of another set
set1 = {1, 2, 3}
set2 = {1, 2}
set3 = {4, 5}

print(set2.issubset(set1))
print(set3.issubset(set1))

True
False

In [13]:
# .issuperset
# it checks if one set is a superset of another set
set1 = {1, 2, 3}
set2 = {1, 2}
set3 = {4, 5}

print(set1.issuperset(set2))
print(set1.issuperset(set3))

True
False

In [14]:
# .symmetric_difference
# it checks if elements that are unique to each of two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

result_set = set1.symmetric_difference(set2)

print(result_set)

{1, 2, 5, 6}

In [15]:
# .symmetric_difference_update
# this method is useful for updating a set with the elements that are unique to each of two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

set1.symmetric_difference_update(set2)

print(set1)

{1, 2, 5, 6}

## Dictionary
* In Python, a dictionary is a built-in data type that stores a collection of key-value pairs. It is also known as an associative array, map, or hash table in other programming languages

1. Stores value/elements in key : value pair
2. It is ordered,changeable and does not allow duplicates
3. { } are used to write dictionaries
4. Items are accsesed by using keys

In [17]:
# accessing specific key using direct & get method
a = {
    "name1" : "SURAJ",
    "name2" : "SUMIT",
    "name3" : "UTKARSH",
    "name4" : "VIPUL"
}
print(a)
print(type(a),"\n")
# using direct method

print(a["name3"],"\n")

# using get method

a.get("name2")

{'name1': 'SURAJ', 'name2': 'SUMIT', 'name3': 'UTKARSH', 'name4': 'VIPUL'}
<class 'dict'>

UTKARSH

'SUMIT'

In [18]:
# accessing keys and values using .keys & .values method
Dict1 = {
    "Name" : "Suraj",
    "Roll no." : 17,
    "Class" : "T.Y BE",
    "CGPA" : 7.9 
}
print(Dict1,"\n")

# accessing keys in dictonary
print('Keys in Dict1:')
print(Dict1.keys(),'\n')

# accessing values in dictonary
print('Values in Dict1:')
print(Dict1.values())

{'Name': 'Suraj', 'Roll no.': 17, 'Class': 'T.Y BE', 'CGPA': 7.9}

Keys in Dict1:
dict_keys(['Name', 'Roll no.', 'Class', 'CGPA'])

Values in Dict1:
dict_values(['Suraj', 17, 'T.Y BE', 7.9])

In [19]:
# adding elements in dictionary
Dict1 = {
    "Name" : "Suraj",
    "Roll no." : 17,
    "Class" : "T.Y BE",
    "CGPA" : 7.9
}
print(Dict1,"\n")

Dict1['Mobile no.'] = 1234567890
Dict1["City"] = "Pune"
Dict1['Town'] = "Dhayri"
print(Dict1,"\n")

print(Dict1.keys(),'\n')
print(Dict1.values(),'\n')
print('Length of keys:',len(Dict1.keys()))
print('Length of values:',len(Dict1.values()))

{'Name': 'Suraj', 'Roll no.': 17, 'Class': 'T.Y BE', 'CGPA': 7.9}

{'Name': 'Suraj', 'Roll no.': 17, 'Class': 'T.Y BE', 'CGPA': 7.9, 'Mobile no.': 1234567890, 'City': 'Pune', 'Town': 'Dhayri'}

dict_keys(['Name', 'Roll no.', 'Class', 'CGPA', 'Mobile no.', 'City', 'Town'])

dict_values(['Suraj', 17, 'T.Y BE', 7.9, 1234567890, 'Pune', 'Dhayri'])

Length of keys: 7
Length of values: 7

In [20]:
# changing values using keys
print(Dict1)

Dict1['Roll no.'] = 17
Dict1['Percentage'] = 85.71
Dict1['Town'] = 'Dhayri'
print('\n')
print(Dict1)

{'Name': 'Suraj', 'Roll no.': 17, 'Class': 'T.Y BE', 'CGPA': 7.9, 'Mobile no.': 1234567890, 'City': 'Pune', 'Town': 'Dhayri'}


{'Name': 'Suraj', 'Roll no.': 17, 'Class': 'T.Y BE', 'CGPA': 7.9, 'Mobile no.': 1234567890, 'City': 'Pune', 'Town': 'Dhayri', 'Percentage': 85.71}

In [21]:
# .update in dictonary
# it adds one or more key:value to the dictonary

print(Dict1.items(),'\n')

Dict1.update({
    'Email Id' : 'surajkedari@gmail.com',
    'Subject' : "Data Science"
})
print(Dict1.items())

dict_items([('Name', 'Suraj'), ('Roll no.', 17), ('Class', 'T.Y BE'), ('CGPA', 7.9), ('Mobile no.', 1234567890), ('City', 'Pune'), ('Town', 'Dhayri'), ('Percentage', 85.71)])

dict_items([('Name', 'Suraj'), ('Roll no.', 17), ('Class', 'T.Y BE'), ('CGPA', 7.9), ('Mobile no.', 1234567890), ('City', 'Pune'), ('Town', 'Dhayri'), ('Percentage', 85.71), ('Email Id', 'surajkedari@gmail.com'), ('Subject', 'Data Science')])

## Operators

* operators are symbols which perform certain operations
    Python operators
    
1) Arithmetic operators
2) Assignment operators
3) Comparison operators
4) Logical operators
5) Identity operators
6) Membership operators
7) Bitwise operators

### Arithmetic operators

1) Addition +
2) Subtraction -
3) Multiplication *
4) Division /
5) Modulus %
6) Exponentiation **
7) Floor division //

In [22]:
x = 22
y = 7

# Addition
z = x + y
print("Addition of x and y:",z,'\n')

# Subtraction
z = x - y
print("Subtraction of x and y:",z,'\n')

# Multiplication
z = x * y
print("Multiplication of x and y:",z,'\n')

# Division
z = x / y
print("Division of x and y:",z,'\n')

# Modulus
z = x % y
print("Modulus of x and y:",z,'\n')

# Exponentiation
z = x ** y
print("Exponentiation of x and y:",z,'\n')

# Floor division
z = x // y
print("Floor division of x and y:",z,'\n')

Addition of x and y: 29

Subtraction of x and y: 15

Multiplication of x and y: 154

Division of x and y: 3.142857142857143

Modulus of x and y: 1

Exponentiation of x and y: 2494357888

Floor division of x and y: 3

## Assignment operators

1) simple assign     (x = 5)
2) Add & assign      (x += 5)
3) Sub & assign      (x -= 5)
4) multi & assign    (x *= 5)
5) divide & assign   (x /= 5)
6) modulus & assign  (x %= 5)
7) floor d & assign  (x //= 5)
8) exponent & assign (x **= 5)

In [25]:
#simple assign
x = 12
x

12

In [26]:
#Add & assign
x += 100
x

112

In [27]:
#Sub & assign
x -= 75
x

37

In [28]:
#Multi & assign
x *= 5
x

185

In [29]:
#Divide & assign
x /= 10
x

18.5

In [30]:
#Modulo & assign
x %= 5
x

3.5

In [31]:
#Floor division & assign
x //= 1
x

3.0

In [32]:
#Exponent & assign
x **= 10
x

59049.0

## Comparison operators
1. Equal to:- (==)
2. Not equal to:- (!=)
3. Greater than:- (>)
4. Less than:- (<)
5. Greater  than or equal to:- (>=)
6. Less than or equal to:- (<=)

In [33]:
a = 250
b = 45

print("Equal to operator:-",a == b,'\n')

print("Not equal to operator:-",a != b,'\n')

print("Greater than operator:-",a > b,'\n')

print("Less than operator:-",a < b,'\n')

print("Greater than or equal to operator:-",a >= b,'\n')

print("Less than or equal to operator:-",a <= b,'\n')

Equal to operator:- False

Not equal to operator:- True

Greater than operator:- True

Less than operator:- False

Greater than or equal to operator:- True

Less than or equal to operator:- False

## Logical operators

1. and   (Returns True if both statements are true)
2. or    (Returns True if one of the statements is true)
3. not   (Reverse the result, returns False if the result is true)

In [34]:
x = 10 

# and operator  
print('and operator:')
print(x < 11 and x > 12)
print(x < 21 and x > 9,'\n')

# or operator
print('or operator:')
print(x < 19 or x > 1)
print(x < 1 or x > 44,'\n')

# not operator
print('not operator:')
print(not x < 12)
print(not x > 56 )

and operator:
False
True

or operator:
True
False

not operator:
False
True

## Identity operator 

1. is (Returns True if both variables are the same object)
2. is not (Returns True if both variables are not the same object)

In [38]:
# is operator

x = 12
y = 12
print(x is y,'\n')

a = 21
b = 80
print(a is b)

True

False

In [39]:
# is not operator

x = 12
y = 20
print(x is not y,'\n')

a = 100
b = 100
print(a is not b)

True

False

## Membership operators

1. in (Returns True if a sequence with the specified value is present in the object)
2. not in (Returns True if a sequence with the specified value is not present in the object)

In [40]:
# in 
# Returns True if a sequence with the specified value is present in the object
a = [10,20,30,40,50,60,70,80,90]

print(a,'\n')

print(10 in a)
print(55 in a)
print(90 in a)
print(11 in a)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

True
False
True
False

In [41]:
# not in
# Returns True if a sequence with the specified value is not present in the object
a = [11,22,33,44,55,66,77,88,99]

print(a,'\n')

print(11 not in a)
print(12 not in a)
print(88 not in a)
print(54 not in a)

[11, 22, 33, 44, 55, 66, 77, 88, 99]

False
True
False
True

## Bitwise operators

1. (&)	AND	Sets each bit to 1 if both bits are 1
2. (|)	OR	Sets each bit to 1 if one of two bits is 1
3. (^)	XOR	Sets each bit to 1 if only one of two bits is 1
4. (~)	NOT	Inverts all the bits
5. (<<)	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off
6. (>>)	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

1. Bitwise AND ('&'):

In [44]:
a = 5  # 101 in binary
b = 3  # 011 in binary
result = a & b
print(result)  # Output: 1 (001 in binary)

1

2. Bitwise OR ('|'):

In [43]:
a = 5  # 101 in binary
b = 3  # 011 in binary
result = a | b
print(result)  # Output: 7 (111 in binary)

7

3. Bitwise XOR ('^'):

In [45]:
a = 5  # 101 in binary
b = 3  # 011 in binary
result = a ^ b
print(result)  # Output: 6 (110 in binary)

6

4. Bitwise NOT ('~'):

In [46]:
a = 5  # 101 in binary
result = ~a
print(result)  # Output: -6 (two's complement representation)

-6

5. Left Shift ('<<'):

In [48]:
a = 5  # 101 in binary
result = a << 1
print(result)  # Output: 10 (1010 in binary)

10

6. Right Shift ('>>'):

In [49]:
a = 5  # 101 in binary
result = a >> 1
print(result)  # Output: 2 (10 in binary)

2

These operators manipulate individual bits of integers. Understanding bitwise operations is crucial in scenarios where low-level manipulation is required, such as in certain algorithms or when working with hardware-related programming.

## Conditional statements and Loops 

1. if , else
2. if , elif , else
3. while loop
4. for loop

### if else
* Executes one block of code if the condition is true and another block if the condition is false.

In [1]:
# if else condition

#1)
a = 50
b = 75

if a > b:
    print('a is greater than b')
else:
    print('b is greater than a')
print('\n')

#2)
x = 257
y = 452

if x < y: 
    print('x is less than y')
else:
    print('y is greater than x')
print('\n')

#3)
c = 999
d = 999

if c != d:
    print('c is not equal to d')
else:
    print('c is equal to d')

b is greater than a


x is less than y


c is equal to d

### if elif else
* Allows checking multiple conditions and executing different blocks of code accordingly.

In [2]:
# if elif else condition
# you can add as many elif as you want

#1)
a = 45
b = 67

if a > b:
    print('a is greater than b')
elif a < b:
    print('a is less than b')
else:
    print('b is greater than a')
print('\n')

#2)
x = 98
y = 98

if x != y:
    print('x is not equal to y')
elif x < y:
    print('x is less than and equal to y')
elif x == y:
    print('x is equal to y')
else:
    print('y is equal to x')
print('\n')    

#3)
c = 34
d = 89

if c == d:
    print('c is equal to d')
elif c > d:
    print('c is greater than d')
elif d < c:
    print('d is less than c')
elif c != d:
    print('c is not equal to d')
else:
    print('c is less than d')

a is less than b


x is equal to y


c is not equal to d

In [3]:
# short hand if statement
#1)
x = 15
y = 20

if x < y: print('x is less than y','\n')
    
#2)
a = 23
b = 23

if a == b: print('a is equal to b','\n')
    
#3)
c = 78
d = 34

if c > d: print('c is greater than d')

x is less than y

a is equal to b

c is greater than d

In [4]:
# short hand if else statement
#1)
x = 34
y = 56

print(('x is greater than y'),'\n')if x > y else print(('x is less than y'),'\n')

#2)
a = 54
b = 56

print (('a is not equal to b'),'\n') if a != b else print(('a is equal to b'),'\n')

#3)
c = 78
d = 78

print('c is not equal to d') if c != d else print('c is equal to d ')

x is less than y

a is not equal to b

c is equal to d

In [5]:
# pass statement

x = 78
y = 67

if x < y:
    print("x is greater than y")
pass

## while loop
* Executes a block of code as long as the specified condition is true.

In [6]:
# print series of numbers

a = 0

while a <= 10:
    print(a)
    a = a + 1

0
1
2
3
4
5
6
7
8
9
10

In [7]:
# break statement

x = 1

while x <= 20:
    print(x)
    if x == 12:
        break
    x = x + 1

1
2
3
4
5
6
7
8
9
10
11
12

In [8]:
# continue statement

x = 1

while x <= 20:
    
    if x == 15 or x == 8:
        x += 1
        continue
    print(x)
    x += 1

1
2
3
4
5
6
7
9
10
11
12
13
14
16
17
18
19
20

In [9]:
# else below while

x = 1

while x <= 20:
    
    if x == 12:
        x += 1
        continue
    print(x)
    x += 1
else:       
    print("its enough")

1
2
3
4
5
6
7
8
9
10
11
13
14
15
16
17
18
19
20
its enough

In [10]:
# while loop on list

list1 = ['apple','banana','mango','cherry','papaya','strawberry','orange']
print(list1,'\n')

print('While loop on list:\n ')

x = 0
while x < len(list1):
    print(list1[x])
    x += 1

['apple', 'banana', 'mango', 'cherry', 'papaya', 'strawberry', 'orange']

While loop on list:

apple
banana
mango
cherry
papaya
strawberry
orange

In [13]:
# while loop on tuple

a = ('Suraj','Sumit','Naresh','Sahil','Utkarsh', 'Vipul')
print(a,'\n')
print('While loop on tuple:\n ')

x = 0
while x < len(a):
    print(a[x])
    x += 1

('Suraj', 'Sumit', 'Naresh', 'Sahil', 'Utkarsh', 'Vipul')

While loop on tuple:

Suraj
Sumit
Naresh
Sahil
Utkarsh
Vipul

## For loop
* Executes a block of code a specified number of times.

In [15]:
# for loop

a = ('Suraj','Sumit','Utkarsh','Vipul','Naresh')

for r in a:
    print(r)

Suraj
Sumit
Utkarsh
Vipul
Naresh

In [16]:
# if statement in for loop
# with this we can print any element in data type
a = ('Suraj','Sumit','Utkarsh','Vipul','Naresh')

for i in a:
    if i == "Vipul":
        print(i)

Vipul

In [17]:
## for loop
a = "Python"
print(a,'\n')

for characters in a:
    print(characters)

Python

P
y
t
h
o
n

In [18]:
# for loop in tuple

a = (10,3,40,67,89,70,29,10,90)

for i in a:
    
    if i == 67:
        #break
        continue
    print(i)

10
3
40
89
70
29
10
90

In [20]:
# for loop in ditionary

Dict1 = {
    "Name" : "Suraj",
    "Roll no." : 17,
    "Class" : "T.Y BE",
    "CGPA" : 7.02
}
print('keys: ')
for i in Dict1: # it will print keys by default
    print(i)
print('\n')

print('values: ') # it will print values
for i in Dict1:
    print(Dict1[i])
print('\n')

print('Another method to print keys and values')
for keys in Dict1.keys(): # another method to print keys and values 
    print(keys)
print('\n')
    
print('Keys and values pairs: ')
for keys, values in Dict1.items():
    print(keys,':',values)

keys:
Name
Roll no.
Class
CGPA


values:
Suraj
17
T.Y BE
7.02


Another method to print keys and values
Name
Roll no.
Class
CGPA


Keys and values pairs:
Name : Suraj
Roll no. : 17
Class : T.Y BE
CGPA : 7.02

## Range function
* The range() function in Python is used to generate a sequence of numbers. It's commonly used with loops to iterate over a sequence of numbers a specific number of times. The 'range()' function can accept one, two, or three arguments:

In [21]:
# range
for i in range(21):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [22]:
# range('val','to value')

for i in range(50,61):
    print(i)

50
51
52
53
54
55
56
57
58
59
60

In [23]:
# range('val','to value','skip steps value')

for i in range(0,21,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

## Def

In [24]:
# calling the function 
def stud(name):
    print("My name is",name)
    
stud("Suraj")
stud("Sumit")

My name is Suraj
My name is Sumit

In [25]:
# return

def mul(a,b):
    result = a * b
    return result

x = 5
y = 55
res = mul(x,y)
print('Multiplication of a & b: ',res)

Multiplication of a & b:  275

In [26]:
# unknown parameters

def display(*letter):
    print(letter)
    for i in letter:
        print(i)
    
display('a','b','c','d','e','f')

('a', 'b', 'c', 'd', 'e', 'f')
a
b
c
d
e
f

## Lambda

In [27]:
a = lambda num : num ** 2

print(a(12))

144

In [28]:
def myfun(n):
    print("Value of n: ",n)
    return (lambda a : a ** n)

otherfun = myfun(2)
print(otherfun(19))

Value of n:  2
361

## Class

In [29]:
# simple class example
class student():
    #properties
    name = "Suraj Kedari"
    roll_no = 17
    age = 22
# object    
obj1 = student()
print("Name:",obj1.name)
print("Roll no.:",obj1.roll_no)
print("Age:",obj1.age)

Name: Suraj Kedari
Roll no.: 17
Age: 22

In [30]:
# real class function

class student():
    def __init__(self, name, roll_no, mobile_no, age):
        self.name = name
        self.roll_no = roll_no
        self.mobile_no = mobile_no
        self.age = age
            
obj_1 = student("Suraj Kedari", 22, 1234567890, 22)
obj_2 = student("Suraj Kedari", 23, 1876543210, 22)
obj_3 = student("Suraj Kedari", 24, 1212321415, 22)

print("Student Name:",obj_1.name)
print('Roll No.:',obj_1.roll_no)
print('Mobile No.:',obj_1.mobile_no)
print('Age:',obj_1.age,'\n')

print("Student Name:",obj_2.name)
print('Roll No.:',obj_2.roll_no)
print('Mobile No.:',obj_2.mobile_no)
print('Age:',obj_2.age,'\n')

print("Student Name:",obj_3.name)
print('Roll No.:',obj_3.roll_no)
print('Mobile No.:',obj_3.mobile_no)
print('Age:',obj_3.age)

Student Name: Suraj Kedari
Roll No.: 22
Mobile No.: 1234567890
Age: 22

Student Name: Suraj Kedari
Roll No.: 23
Mobile No.: 1876543210
Age: 22

Student Name: Suraj Kedari
Roll No.: 24
Mobile No.: 1212321415
Age: 22

In [31]:
class student():
    def __init__(self, name, roll_no, age, year):
        self.name = name
        self.roll_no = roll_no
        self.age = age
        self.year = year
        
    def display(self):
        print('Name of student: ',self.name)
        print('Roll no. of student: ',self.roll_no)
        print('Age of student: ',self.age)
        print('Year of student: ',self.year)
        
    def intro(self):
        print('Hii my name is',self.name,'My age is',self.age,'\n','I am studying',self.year,'And my roll no.is',self.roll_no)
    
r = student('Suraj Kedari', 52, 22, 'TY BE')
s = student('Sumit Jamdade', 45, 20, 'TY BE')
t = student('Vipul Kangale', 67, 22, 'TY BE')

r.display()
print('\n')

s.display()
print('\n')

t.display()
print('\n')

r.intro()
print('\n')

s.intro()
print('\n')

t.intro()
print('\n')

Name of student:  Suraj Kedari
Roll no. of student:  52
Age of student:  22
Year of student:  TY BE


Name of student:  Sumit Jamdade
Roll no. of student:  45
Age of student:  20
Year of student:  TY BE


Name of student:  Vipul Kangale
Roll no. of student:  67
Age of student:  22
Year of student:  TY BE


Hii my name is Suraj Kedari My age is 22
 I am studying TY BE And my roll no.is 52


Hii my name is Sumit Jamdade My age is 20
 I am studying TY BE And my roll no.is 45


Hii my name is Vipul Kangale My age is 22
 I am studying TY BE And my roll no.is 67

## Inheritance

In [33]:
class person: # parent class \ base class
    def __init__(self, fname, lname):
        self.fname = fname
        self.lname = lname
        
    def display(self):
        print('First name:',self.fname)
        print('Last name:',self.lname)

class student(person):# child class \ derived class
    pass

a = student('Suraj','Kedari')
b = student('Srushti','Raskar')

a.display()
b.display()

First name: Suraj
Last name: Kedari
First name: Srushti
Last name: Raskar

In [34]:
class person:
    def __init__(self, fname, lname, age):
        self.fname = fname
        self.lname = lname
        self.age = age
    
    def details(self):
        print(f'My name is {self.fname} {self.lname} and my age is {self.age}.')
        
        
class student(person):
    def __init__(self, fname, lname, age, _class, _rollno):
        person.__init__(self, fname, lname, age)
        self._class = _class
        self._rollno = _rollno
        
    def studdetails(self):
        print(f'My name is {self.fname} {self.lname} and my age is {self.age}. I am studying in {self._class} and my roll no is {self._rollno}')
    
a = student('Suraj', 'Kedari', 21, 'T.Y BE', 12)
b = student('Srushti', 'Raskar', 19, 'T.Y BE', 34)

b.details()
a.studdetails()

My name is Srushti Raskar and my age is 19.
My name is Suraj Kedari and my age is 21. I am studying in T.Y BE and my roll no is 12

## Scope of variable
There are two types of scopes
1. Local scope : Variables defined inside a function have a local scope. They can only be accessed within that function. Once the function completes execution, the local variables are destroyed, and their names are no longer accessible. Attempting to access a local variable from outside its defining function will result in an error.

In [37]:
# Local scope
# the values that are inside the function are called local values

def myfun():
    x = 200
    print(x)
    
myfun()

200

2. Global Scope: Variables defined outside of any function or in the global scope have global scope. They can be accessed and modified from anywhere in the program, including within functions. However, if you want to modify a global variable from within a function, you need to use the global keyword to explicitly declare it.

In [36]:
# Global scope
# the values that are outside the function are called global values
x = 100

def myfun():
    print(x)
    
myfun()

100

In [39]:
# Global and local scope in one function

x = 300 # Global scope

def myfun():
    x = 200 # Local scope
    print(x)

myfun()
print(x)

200
300

In [40]:
# Global keyword

def my_fun():
    
    global x
    x = 230
    print(x)
    
my_fun()

230

In [41]:
# You can also use global keyword if you want to make a change to a global variable inside a function

x = 450

def myfunc():
    
    global x
    x = 500
    print(x)

myfunc()  
print(x)# original value of x was 450 but after using global keyword it changes to 500

500
500

## Module

In [42]:
import platform

x = platform.system()
print(x)

Windows

## Datetime module

In [43]:
import datetime as dt

x = dt.datetime.now()
print(x)

2024-02-23 13:57:31.766445

In [44]:
import datetime

print(datetime.MAXYEAR,'\n')

print(datetime.MINYEAR)

9999

1

In [45]:
x = dt.datetime.now()

print(x.day)
print(x.year)
print(x.month)
print(x.strftime('%A')) #Day
print(x.strftime('%H')) #0-23
print(x.strftime('%I')) #0-12
print(x.strftime('%p')) #AM-PM

23
2024
2
Friday
13
01
PM

In [46]:
z = dt.datetime(2024, 2, 29)

print(z)

2024-02-29 00:00:00

## Python math functions

In [47]:
# Returns minimum value
x = min(100,67,890,456,544,234,5322)

print(x)

67

In [48]:
# Returns maximum value
x = max(100,67,890,456,544,234,5322)

print(x)

5322

In [49]:
# Returns absolute positive value
x = abs(-679)

print(x)

679

In [50]:
# Power function
x = pow(9,6)

print(x)

531441

## Math module
The math module in Python provides a set of mathematical functions for performing mathematical operations. It is part of the Python Standard Library, so it comes pre-installed with Python and does not require any additional installation. You can import and use it in your Python programs using the 'import' statement

In [51]:
import math 

a = math.sqrt(9)
print(a)

b = math.factorial(4)
print(b)

c = math.ceil(4.1)
print(c)

d = math.pi
print(d)

e = math.exp(5)
print(e)

3.0
24
5
3.141592653589793
148.4131591025766

## JSON module

JavaScript Object Notation

In [57]:
# JSON to object
import json
#JSON
a = '{"name": "Suraj", "age": 22, "class": "T.Y BE", "roll no": 17, "owns laptop": true, "owns gaming pc": false, "favourite movie": null, "favourite anime": [{"1st anime": "Naruto", "character": "Naruto"}, {"2nd anime": "One Piece", "character": "Luffy"}]}'

print(a)
print(type(a),'\n')

b = json.loads(a)
print(b)
print(type(b))

{"name": "Suraj", "age": 22, "class": "T.Y BE", "roll no": 17, "owns laptop": true, "owns gaming pc": false, "favourite movie": null, "favourite anime": [{"1st anime": "Naruto", "character": "Naruto"}, {"2nd anime": "One Piece", "character": "Luffy"}]}
<class 'str'>

{'name': 'Suraj', 'age': 22, 'class': 'T.Y BE', 'roll no': 17, 'owns laptop': True, 'owns gaming pc': False, 'favourite movie': None, 'favourite anime': [{'1st anime': 'Naruto', 'character': 'Naruto'}, {'2nd anime': 'One Piece', 'character': 'Luffy'}]}
<class 'dict'>

In [59]:
# object(dict) to JSON
import json
# Object
x = {
    'name' : 'Suraj',
    'age' : 22,
    'class' : 'T.Y BE',
    'roll no' : 17,
    'owns laptop' : True,
    'owns gaming pc' : False,
    'favourite movie' : None,
    'favourite anime' : [
        {'1st anime' : 'Naruto', 'character' : 'Naruto'},
        {'2nd anime' : 'One Piece', 'character' : 'Luffy'}
    ]
}

print(x)
print(type(x),'\n')

y = json.dumps(x,indent = 1)
print(y)
print(type(y))

{'name': 'Suraj', 'age': 22, 'class': 'T.Y BE', 'roll no': 17, 'owns laptop': True, 'owns gaming pc': False, 'favourite movie': None, 'favourite anime': [{'1st anime': 'Naruto', 'character': 'Naruto'}, {'2nd anime': 'One Piece', 'character': 'Luffy'}]}
<class 'dict'>

{
 "name": "Suraj",
 "age": 22,
 "class": "T.Y BE",
 "roll no": 17,
 "owns laptop": true,
 "owns gaming pc": false,
 "favourite movie": null,
 "favourite anime": [
  {
   "1st anime": "Naruto",
   "character": "Naruto"
  },
  {
   "2nd anime": "One Piece",
   "character": "Luffy"
  }
 ]
}
<class 'str'>

In [60]:
import json

a = (1,2,3,4,5,6,'hii','hello',2.3,33.4)

b = json.dumps(a)
print(b)
print(type(b))

[1, 2, 3, 4, 5, 6, "hii", "hello", 2.3, 33.4]
<class 'str'>

In [61]:
import json

x = '[1,2,3,"hii"]'

y = json.loads(x)
print(y)
print(type(y))

[1, 2, 3, 'hii']
<class 'list'>

## Exception Handling
* Exception handling in Python allows you to gracefully handle errors or exceptional situations that occur during the execution of your program. By handling exceptions, you can prevent your program from crashing and provide appropriate responses or fallback behavior when something unexpected happens.

In [62]:
while True:
    try:
        x = int(input('Enter a number: '))
        break
    except ValueError:
        print('Wrong input')
        
print("Hello world..!")

Enter a number:  12

Hello world..!

## Formatting
* Formatting in Python typically refers to formatting strings, where you manipulate strings to present data in a desired way. Python provides several methods for string formatting, each with its own advantages and use cases. Here, I'll cover three commonly used methods: string concatenation, %-formatting, and f-strings.

In [1]:
price = 100

x = 'The value of that bottle is {:.2f}'

print(x.format(price))

The value of that bottle is 100.00

In [2]:
a = 22
b = 'Sumit'

print("His name is {1}. {1}'s age is {0}".format(a,b))

His name is Sumit. Sumit's age is 22

In [8]:
a = "I love {movie}, my fvourite character from {movie} is {character} "
print(a.format(movie = 'Animal', character = '"Zoya"'))

I love Animal, my fvourite character from Animal is "Zoya"

## File Handeling
* File handling in Python involves performing operations on files, such as reading from them, writing to them, and manipulating their contents. Python provides built-in functions and methods for file handling, making it easy to work with files in your programs.